@charset "UTF-8";

:root {
    --font-base: 500 1.3em Arial, Helevetica, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #66aaff;
    padding: 16px;
}

header {
    margin: auto;
    padding: 8px;
}

header h1 {
    font: normal bolder 2em Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: 8px;
}


main {
    background-color: white;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 16px;
    padding-top: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.22);
}


section#insercao {

}

section#insercao p {
    font: var(--font-base);
    padding: 8px;
}

section#resultado h2 {
    font: var(--font-base);
    text-align: center;
    
    margin-top: 8px;
}

section > picture > img {
    display: block;
    margin: auto;
    padding-bottom: 8px;
    padding-top: 16px;
    
}

input#bt1 {
    padding: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    
}

footer > p {
    font: italic bold 1em Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    
}